.deliveroo {
  background-color: #f2f5f5;
}
.banniere {
  background-color: #ffffff;
  height: 250px;
  display: flex;
}
.header {
  background-color: #ffffff;
}
.banniere img {
  width: 350px;
  height: 195px;
}
.banniere p {
  width: 830px;
}
.body img {
  height: 130px;
  width: 130px;
}
.meals {
  justify-content: space-between;
  display: flex;
  width: 405px;
  height: 160px;
  background-color: #ffffff;
}
.meal {
  flex-wrap: wrap;
  display: flex;
}
.body {
  margin-left: 120px;
  width: 60%;
}
